<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Icon is headphones-alt with a modified fill color -->
	<!-- https://fontawesome.com/license -->
	<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
	<link rel="alternate icon" href="/static/favicon.ico">
	<link rel="mask-icon" href="/static/favicon.svg">

	<title>Party DJ</title>
	<link rel="stylesheet" href="/static/css/style.css" />
	<script src="https://kit.fontawesome.com/a23053f34a.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js" integrity="sha512-ZqQWGugamKhlSUqM1d/HMtwNG+hITmd/ptoof91lt5ojFZ+2bKlkvlzkmnDIrnikDY+UDVZVupLf6MNbuhtFSw==" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

	{%- if user.is_authenticated -%}
	<script src="/static/js/spotify-web-api.js"></script>
	<script src="/static/js/user.js"></script>
	<script>
		sessionStorage.setItem('SPOTIFY_ACCESS_TOKEN', '{{ user.access_token }}')
	</script>
	{%- endif -%}

	{%- block head %}{% endblock -%}
</head>

<body class="antialiased bg-gray-300">
	<header class="flex items-center bg-white px-4 h-12 shadow-sm">
		<div class="flex-none">
			<a href="{{ url_for('core.index') }}" class="uppercase">Party DJ</a>
		</div>
		<ul class="w-full flex items-center justify-end space-x-4 px-4">
			{% if user.is_authenticated -%}
			<li>
				<a href="{{ url_for('auth.logout') }}">logout</a>
			</li>
			{%- set img_url = user.images.first().url -%}
			<li>
				{%- if img_url -%}
					<img src="{{ img_url }}" alt="profile picture" class="h-10 w-10 object-cover rounded-full">
				{%- else -%}
					<i class="far fa-user-circle text-4xl"></i>
				{%- endif -%}
			</li>
			{%- else -%}
			<li>
				<a href="{{ url_for('auth.login') }}">login</a>
			</li>
			{%- endif -%}
		</ul>
	</header>
	{%- block content %}{% endblock -%}
</body>

</html>
