{% extends 'layouts/base.html' %}
{% from "macros/mediaplayer.html" import mediaplayer %}
{% block head %}
<script src="/static/js/index.js"></script>
{% endblock %}
{% block content %}
<main class="container-fluid mt-3">
	<div class="row">
		<div class="col-sm-6">
			{{ mediaplayer() }}
		</div>

		<div class="col-sm-6">
			<div class="row">
				<div class="col">
					<input class="form-control" type="text" placeholder="Search...">
					<hr>
					<ul id="search-results" class="list-group list-group-flush">
						<li class="list-group-item list-group-item-action">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur!
						</li>
						<li class="list-group-item list-group-item-action">
							Lorem ipsum dolor sit, amet consectetur adipisicing.
						</li>
						<li class="list-group-item list-group-item-action">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
