{% extends 'layouts/base.html' %}
{% block head %}
<script src="/static/js/index.js"></script>
{% endblock %}
{% block content %}
<main class="flex">
	<div class="flex pt-32 mx-auto align-baseline">
		<div>
			<a href="{{ url_for('party.host') }}" class="block w-32 py-3 m-2
				text-center text-blue-700 bg-gray-50 text-lg uppercase font-bold tracking-wide
				cursor-pointer rounded-md shadow-md
				hover:shadow-lg hover:bg-blue-700 hover:text-white">
				Host
			</a>
		</div>

		<div>
			<a href="{{ url_for('party.join') }}" class="block w-32 py-3 m-2
				text-center text-blue-700 bg-gray-50 text-lg uppercase font-bold tracking-wide
				cursor-pointer rounded-md shadow-md
				hover:shadow-lg hover:bg-blue-700 hover:text-white">
				Join
			</a>
		</div>
	</div>
</main>
{% endblock %}
