{% extends 'layouts/base.html' %} {% block head %}
<link rel="stylesheet" href="/static/css/index.css" />
<script src="/static/js/index.js"></script>
{% endblock %} {% block content %}
<main class="container-fluid">
	<div class="row pt-2">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
			<div class="d-grid gap-2">
				<input
					id="input-party-code"
					class="form-control text-center text-uppercase"
					type="text"
					placeholder="Party Code"
				/>
				<button class="btn btn-primary btn-lg" onclick="join_room()">Join</button>
			</div>
			<hr />
			<div class="mt-2 d-grid gap-2">
				<button class="btn btn-primary btn-lg" onclick="host_room()">Host</button>
			</div>
		</div>
		<div class="col-sm-5"></div>
	</div>
</main>

{% endblock %}
