{% extends 'layouts/base.html' %}
{% from "macros/mediaplayer.html" import mediaplayer %}
{% block head %}
<link rel="stylesheet" href="/static/css/search.css">
{% if user.is_authenticated %}
<script>
	var SPOTIFY_ACCESS_TOKEN = '{{ user.access_token }}'
	setInterval(() => {
		refresh_token()
	}, 30 * 60 * 1000);

	function refresh_token() {
		fetch('/auth/refresh_token')
			.then(resp => resp.json())
			.then(data => {
				SPOTIFY_ACCESS_TOKEN = data['access_token']
				spotifyApi.setAccessToken(SPOTIFY_ACCESS_TOKEN)
			})
	}
</script>
<script src="/static/js/spotify-web-api.js"></script>
{% endif %}

<script src="/static/js/party.js"></script>

{% if is_host %}
<script src="/static/js/party-host.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			{{ mediaplayer() }}
		</div>
	</div>
</div>
{% endblock %}
